.sec{
    position: relative;
    height: 100vh;
    width: 90vw;
}
section{
    scroll-snap-align: center;
}
.pt{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 15vw;
    float: left;
    margin: 5% 3% 1% 3%;
    background-color: rgba(236, 241, 219, 0.3);
    box-shadow: 0 0 15px rgb(59, 73, 95);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.pt:hover{
    cursor: pointer;
    box-shadow: 0 0 15px 3px rgb(11, 0, 70);
    transform: scale(1.1);
}

.imghid{
    overflow: hidden;
}
.Livia .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/Livia/7.jpg");
}
.BlueNight .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/BlueNight/BlueNight1.jpg");
}
.MingLuan .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/MingLuan/MingLuan1.jpg");
}
.SoundMake .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/Animation/WaterSound.jpg");
}
.RPG2023 .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/RPGGame/2023RPG1.jpg");
}
.Animation .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/Animation/Bullet.jpg");
}
.MagicCabin .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/MagicCabin/MagicCabin1.jpg");
}
.PostProcess .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/Stylized/Stylized1.jpg");
}
.VFX .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/VFX/VFX1.png");
}
.UpToHeaven .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/2024/GuoFeng/UpToHeaven.png");
}
.ChineseFishing .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/2024/GuoFeng/ChineseFishing.png");
}
.ChineseMoutain .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/2024/GuoFeng/ChineseMoutain.png");
}
.DragonWorld .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/2024/UEdragonWorld.png");
}
.SculptureDog .img{
    background-image: url("https://zeroheyblog.oss-cn-guangzhou.aliyuncs.com/image/2024/SculptureDog/Dog2.png");
}

.pt .img{
    height: 25vh;
    width: 100%;
    background-size: cover;
    background-position: 0px 0px;
    transition: all 0.5s ease 0s;
    opacity: 0.8;
}

.pt .img:hover{
    transform: scale(1.1);
}

.pt .txt{
    height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.pt .txt h1{
    text-align:center;
    font-size: 2em;
    color: rgb(28, 44, 68);
    height: 100px;
    width: 100%;
}

.pt .txt h2{
    text-align:center;
    font-size: 2em;
    color: rgb(165, 0, 157);
    height: 200px;
    width: 100%;
}

.pt .txt h3{
    text-align:center;
    font-size: 2em;
    color: rgb(114, 182, 202);
    height: 200px;
    width: 100%;
}
.pt .txt h4{
    text-align:center;
    font-size: 1.5em;
    color: rgb(95, 179, 204);
    height: 70px;
    width: 100%;
}
.pt .txt h5{
    text-align:center;
    font-size: 1.0em;
    color: rgb(0, 50, 97);
    height: 70px;
    width: 100%;
}

.pt .txt p{
    margin-top: -2px;
    text-align:center;
    word-wrap: break-word;
    color: rgb(114, 182, 202);
    height: 50px;
}

p1{
    margin-top: 10px;
    text-align:end;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    height: 10px;
}